.move-request {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.success-message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
}
.home-button {
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.home-button:hover {
    background-color: #0056b3;
}
