<div class="move-request">
    <h2>Create Move Request</h2>

    <form [formGroup]="moveRequestForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name:</label>
            <input id="name" formControlName="name" />
        </div>

        <div>
            <label for="oldAddress">Old Address:</label>
            <input id="oldAddress" formControlName="oldAddress" />
        </div>

        <div>
            <label for="newAddress">New Address:</label>
            <input id="newAddress" formControlName="newAddress" />
        </div>

        <div>
            <label for="date">Moving Date:</label>
            <input id="date" type="date" formControlName="date" />
        </div>

        <button type="submit" [disabled]="moveRequestForm.invalid">Submit</button>
    </form>

    <!-- Erfolgsnachricht anzeigen, wenn Move Request erfolgreich ist -->
    <div *ngIf="submittedMoveRequest" class="success-message">
        <h3>Move request successfully created!</h3>
    </div>

    <button routerLink="/" class="home-button">Back to Home</button>
</div>
